[submodule "cert-manager-operator"]
	path = cert-manager-operator
	url = https://github.com/openshift/cert-manager-operator.git
	branch = master
[submodule "konflux-shared-configs"]
	path = konflux-shared-configs
	url = https://github.com/bharath-b-rh/konflux-shared-configs.git
	branch = main
